AdsenseAd {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  ins {
    justify-content: center;
    align-items: center;
  }
}

// .adslot_1 { 
//   justify-self: center;
//   width: 320px; 
//   height: 100px; 
// }
// @media (min-width:500px) { .adslot_1 { width: 468px; height: 60px; } }
// @media (min-width:800px) { .adslot_1 { width: 728px; height: 90px; } }