.Counters5v5 {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.columnTitles {
  display: flex;
  flex-direction: row;
}

.columnTeams {
  display: flex;
  flex-direction: column;
}