// raise shared code with Counters3v3
.Counters5v5 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.columnTeams {
  display: flex;
  flex-direction: column;
}

.hardCounterColorBox {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: #e44747;
  border-radius: 100px;
  margin-right: 10px;
}

.patreonBtn {
  background: rgba(255, 0, 0, 0.863);
  color: whitesmoke;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-weight: 500;
  font-size: 1.25em;
}

.softCounterColorBox {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: #9B47E4;
  border-radius: 100px;
  margin-right: 10px;
}