.MyNavbar {
  display: block;
  background-color: rgb(19, 38, 95);
  box-shadow: inset 4px 4px 15px rgba(255, 255, 255, 0.1), inset -4px -4px 15px rgba(255, 255, 255, 0.1);
  
}

.navbar {
  // background: linear-gradient(180deg, rgba(75, 147, 255, 0.527) 0%, rgb(3, 14, 46) 100%), rgba(34, 47, 48, 0.75);
  // border: 2px solid #364C4D;
  // box-sizing: border-box;
  // background-color: rgb(19, 38, 95);
  // box-shadow: inset 4px 4px 15px rgba(255, 255, 255, 0.1), inset -4px -4px 15px rgba(255, 255, 255, 0.1);
}

.navDivider {
  margin-left: 1em;
  margin-right: 1em;
}

