.MyNavbar {
  display: block;
  background-color: rgb(19, 38, 95);
  box-shadow: inset 4px 4px 15px rgba(255, 255, 255, 0.1), inset -4px -4px 15px rgba(255, 255, 255, 0.1);
  
}

.navDivider {
  margin-left: 1em;
  margin-right: 1em;
}

