.Profile {
  display: flex;
  flex-direction: column;
}

.profileHead {
  display: flex;
  flex-direction: row;
}

.allyCodeBox {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}