.RefreshTimer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
  font-size: .8rem;
}

.refreshElements {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}