body {
  background-color: black;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  font-family: "Roboto Condensed",
}

.columnTitles {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  h1 {
    font-size: 1.2rem;
  }
  font-size: .85rem;
}

.contentWrapper {
  flex-direction: column;
  align-items: center;
  width: 95%;
}

.countersDetails {
  h5 {
    font-size: 1rem;
  }
}

.reverseCounterButton {
  height: 50%;
  font-size: .7rem;
  text-align: center;
  padding: .25rem;
}

@media only screen and (min-width:600px) {
  .reverseCounterButton {
    font-size: .75rem;
  }
}

@media only screen and (min-width:768px) {
  .reverseCounterButton {
    font-size: 1rem;
  }

  .columnTitles {
    h1 {
      font-size: 2rem;
    }

    font-size: 1rem;
  }

  .countersDetails {
    h5 {
      font-size: 1.2rem;
    }
  }
}