@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed&display=swap');

body {
  margin: 0;
  font-family: 'Oswald', sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.1), inset 0px 0px -10px rgba(255, 255, 255, 0.1);
  color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  font-family: "Roboto Condensed",
}