/node_modules
/coverage

# Google API
/google-sheets-service-account.json

# Firebase
firebase-service-account.json
firebase-config.js

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.env
.env.local
.env.development
.env.development.local
.env.test.local
.env.production.local