.Account {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accountButtons {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-bottom: 1rem;
  padding: 0;
}

.accountHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 10px;
}

.accountHeaderLeft {
  padding: 0;
  td {
    padding: 0 1rem 0 0;
  }
}

.accountHeaderRight {
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: flex-end;
  table {
    margin: 0;
    text-align: right;
    padding-bottom: 1rem;
    font-size: 14px;
  }
  td {
    padding: 0 0 0 1rem;
  }
}

.accountHeaderCenter {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.accountWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}