.CharacterTable {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.cellFinished {
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
}

.cellUnfinished {
  color: black;
  background-color: rgba(255, 0, 0, 0.644);
}

.nameColumn {
  width: 40%
}

.dataColumn {
  width: 12%
}