.CounterRow {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.borderSpace {
  margin-right: 15px;
  padding-right: 15px;
}

.countersRow {
  display: flex;
  flex-flow: row wrap;
  // justify-content: space-evenly;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  // background: linear-gradient(180deg, rgba(27, 78, 125, 0) 0%, #1B4E7D 55.73%);
  box-shadow: inset 4px 4px 15px rgba(255, 255, 255, 0.1), inset -4px -4px 15px rgba(255, 255, 255, 0.1);
}

.counterCard {
  box-shadow: none;
}

.counterMiddleBorder {
  width: 15px;
  padding: 0 15px;
  margin: 0 15px;
}

.hardCounter {
  border: 2px solid #e44747;
}

.hardCountersRow {
  display: flex;
  flex-direction: row;
  // padding-right: 15px;
  // margin-right: 15px;
}

.softCounter {
  border: 2px solid #9B47E4;
}

.softCountersRow {
  display: flex;
  flex-direction: row;
  // padding-left: 15px;
  // margin-left: 15px;
}

.opponentImg {
  border: 2px solid gray;
}

.teamName {
  font-weight: 400;
  font-size: .8rem;
  margin: 0;
}

.toonImg {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 0 2.5px;
}

@media only screen and (min-width:768px) {
  /* for desktop */
  .toonImg {
    width: 45px;
    height: 45px;
  }
}

@media only screen and (min-width:992px) {
  /* for desktop */
  .toonImg {
    width: 55px;
    height: 55px;
  }
}

@media only screen and (min-width:1200px) {
  /* for desktop */
  .toonImg {
    width: 65px;
    height: 65px;
  }
}

